@import 'core/reset';

@mixin background() {
  background-color: yellowgreen;
  border: 2px solid black;
  @media all and (min-width: 768px) {
    background-color: yellow;
  }
}
@mixin text() {
  font-size: 20px;
  @media all and (min-width: 768px) {
    font-size: 24px;
  }
}

.container {
  height: 300px;
  text-align: center;
  @include background();
  &--title {
    color: white;
    margin-bottom: 15px;
  }
  &--text {
    @include text();
  }
}
