// fonts
$font-main: arial, sans-serif;
$font-size: 18px;
$font-color: #010101;

// colors
$color-body: #414141;
$background-header-footer: rgb(228, 228, 74);
$background-main: cyan;
//header & footer
$height: 50px;

$wrapper: 0 60px;
