.menu {
  display: flex;
  flex-direction: row;
  border: solid black;
  justify-content: flex-end;
  list-style: none;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px; /* se ha colocado bien por el padding, sino esta todo pegado */
}
.item.item1 {
  background-color: aquamarine;
}
.item2 {
  border: dotted chocolate;
}
