<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>tema.14 ej.2</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <partial src="_header.html"></partial>
    <partial src="_main.html" username="María"></partial>yjnfh
    <partial src="_main.html" username="Carlos"></partial>
    <partial src="_main.html" username="Silvia"></partial>
    <partial src="_main.html" username="Rodrigo"></partial>
    <partial src="_footer.html"></partial>
  </body>
</html>
