.form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  border: solid 2px grey;
  background-color: rgb(221, 216, 216, 0.5);
  font-size: 20px;
}
.input-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  width: 100px;
}
.input {
  margin: 5px;
}
