<!-- <header class="page__header">
  <img src="./assets/images/logo-adalab.png" alt="Adalab">
  <h1>@@title</h1>
</header>
 -->
<header class="header">
  <a href="https://adalab.es/">
    <img
      class="logo"
      src="./assets/images/logo-adalab.png"
      title="enlace adalab"
      alt="icono de adalab y enlace al inicio de la página"
    />
  </a>
  <nav>
    <ul class="nav">
      <li>
        <a
          class="nav-item"
          href="https://medium.com/adalab"
          target="_blank"
          title="Enlace a Blog"
          >Blog</a
        >
      </li>
      <li>
        <a
          class="nav-item"
          href="https://adalab.es/contacto/"
          target="_blank"
          title="Enlacea a Contacto"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
</header>
